test 8

Ok I think I figured out my issue w fruit
Idk if he’s entertaining or particularly funny (it’s rather subjective) but I believe for me it is because I can’t connect with him or his videos at all.
He just chats with his friends about said game and whatever comment he’s making doesn’t really invoke anything in me
While as with other content the creator is directly appealing to their audiences and through that being entertaining (also relatability)
Plus it’s also the games I’m just not interested in either

A lot of ppl my relate to him and that’s good, but I haven’t found that appeal as quickly as some of my favorite creators
