test 5

s - must ride / very high priority
boudin bakery tour
guardians of the galaxy: missions breakout
haunted mansion
indiana jones adventure: temple of the forbidden eye
jungle cruise
pirates of the caribbean
radiator springs racers
soarin over the world
rise of the resistance

a - ride if possible / high priority
big thunder mountain railroad
incredicoaster
enchanted tiki room
it's a small world
matterhorn bobsleds
millenium falcon: smugglers run
mr toad's wild ride
peter pan's flight
space mountain
splash mountain
toy story midway mania
spider-man web slingers
grizzly river run

b - ride if short line / mid priority
alice in wonderland
autopia
disneyland railroad
goofy's sky school
the many adventures of winnie the pooh
mater's junkyard jamboree
monsters inc: mike and sulley to the to the rescue
pinocchio's daring journey
roger rabbit's car toon spin
snow white enchanted wish
star tours

c - skippable, but ok / low priority
buzz lightyear astro blasters
disneyland monorail
davy crockett canoes
finding nemo submarine voyage
little mermaid
mad tea party
mark twain riverboat
mickey's philharmagic
pixar pal-a-round (non-swinging)
sailing ship columbia
sleeping beauty castle walkthrough
animation academy / sorcerer's workshop
silly symphony swings

d - don't need to ride
astro orbitor
casey jr
dumbo
inside out emotional whirlwind
gadget's go coaster
golden zephyr
jessie's critter carousel
jumping jellyfish
king arthur carousel
luigi's rollicking roadsters
main street vehicles
pirate's lair on tom sawyer's island
buena vista street vehicles
storybook land canals
great moments with mr lincoln
tarzan's treehouse

f - avoid at all costs
pixar pal-a-round (swinging)
