<script>
  import "lite-youtube-embed";
  import { fade } from "svelte/transition";
</script>

<p /> <!-- for spacing -->
<lite-youtube videoid="T0iASTp6aa0" playlabel="Play: Undoing" in:fade />

Like many things I'm proud of making, "Undoing" came from what many would consider to be a stupid idea. For my 12th grade AP Literature class, our teacher assigned us to do some sort of creative group project relating to Gothic literature and themes. It could be anything, with the main limitation being that we were only given a single week to create our final product. I *really* wanted to make a short film.
